#cardcontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    box-sizing: border-box;

    
    &.card-0 {
        background-color: #79f87d87;
    }
    &.card-1 {
        background-color: #717168ae;
        color: #fff;
        flex-direction: row-reverse;
    }
    &.card-2 {
        background-color: #028091;
        color: #fff;
    }

}

.card-text {
    flex: 1;
    margin-right: 20px;
    padding-left: 20px;
}

.card-title{
    font-size: 2em;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.card-content{
    font-size: 1em;
    margin: 0;
}

.card-image {
    justify-content: flex-end;

}

.card-image img {
    max-width: 300px;
    height: 300px;
    display: block;

}

@keyframes slideBackground{
    0% {
       
       background-color: 0 0;
    }

    100%{
        background-position: 200% 0;
    }
}