.mealprep-page {
    background-color: #56ec38;

        .mealprep-header {
        background-color: #a2f950;
        padding: 20px;
        text-align: center;
        color: #fff;

        h1 {
            margin: 0;
            font-size: 2rem;
            text-transform: uppercase; 
            text-decoration: overline;  
        }

        p {
            font-size: 1.2rem;
            text-decoration: underline;
        }
    }

    section {
        background: #fff;
        padding: 20px;
        margin: 20px 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.4);

        h2 {
            font-size: 1.8rem;
            margin-bottom: 15px;
            color: #ece338;
        }

        .guide, .meal-plan, .recipe, .faq {
            margin-bottom: 20px;

            h3 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    .mealprep-tools {
        padding: 20px;
        background: #fff3e0;
        text-align: center;

    }

    .mealprep-faqs {
        background: #333;
        .faq {
            color: #fff;
        }
    }
}

