nav {
  background-color: rgb(51, 214, 119);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    margin-right: 20px;
  }

  ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }

  ul li a:hover {
    color: #fcff34;
  }

  .checkbtn {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
  }

  #check {
    display: none;
  }

  @media (max-width: 768px) {
    .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
    }

    ul {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: rgb(51, 214, 119);
      width: 100%;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
      transform: translateY(-100%);
      z-index: -1;
    }

    ul li {
      margin: 8px 0;
    }

    ul li a {
      font-size: 15px;
    }

    #check:checked ~ ul {
      right: 0;
    }
  }
}
