* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 0;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(252, 249, 105, 0.7), rgba(4, 142, 177, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
}
.header .logo-box {
  top: 40px;
  left: 40px;
}
.header .logo-box .logo {
  height: 55px;
}
.header .text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header .text-box .heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.header .text-box .heading-primary .heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 30.5px;
}
.header .text-box .heading-primary .heading-primary-sub {
  display: block;
  font-size: 22.5px;
  font-weight: 400;
  letter-spacing: 4.5px;
}
nav {
  background-color: rgb(51, 214, 119);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-right: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

ul li a:hover {
  color: #fcff34;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
    order: 1;
    margin-right: 20px;
  }
  ul {
    position: fixed;
    top: 70px;
    right: -100%;
    background-color: rgb(51, 214, 119);
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }
  ul li {
    margin: 8px 0;
  }
  ul li a {
    font-size: 15px;
  }
  #check:checked ~ ul {
    right: 0;
  }
}
#cardcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.card-text {
  flex: 1;
  margin-right: 20px;
}

.card-title {
  font-size: 2em;
  margin: 0 0 10px 0;
}

.card-content {
  font-size: 1em;
  margin: 0;
}

.card-image {
  justify-content: flex-end;
  border: 1px solid red;
}

.card-image img {
  max-width: 300px;
  height: 300px;
  display: block;
  border: 1px solid purple;
}

/* style.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #a0dbb2;
}

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 400px;
  max-width: 100%;
  padding: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-weight: bold;
  margin: 0;
  color: #333;
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.social-icons a:hover {
  background-color: #ddd;
}

input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 5px;
}

button {
  border-radius: 20px;
  border: 1px solid #487957;
  background: #385D43;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin-top: 20px;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 80ms ease-in;
}

button:hover {
  background-color: #4d835d;
}

span {
  font-size: 12px;
  color: #888;
  margin: 20px 0;
}

a {
  color: #659c75;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  transition: color 0.3s;
}

a:hover {
  color: #659c75;
}

/*# sourceMappingURL=style.css.map */
