* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 0;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(252, 249, 105, 0.7), rgba(4, 142, 177, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
}
.header .logo-box {
  top: 40px;
  left: 40px;
}
.header .logo-box .logo {
  height: 55px;
}
.header .text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header .text-box .heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.header .text-box .heading-primary .heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 30.5px;
}
.header .text-box .heading-primary .heading-primary-sub {
  display: block;
  font-size: 22.5px;
  font-weight: 400;
  letter-spacing: 4.5px;
}
@media (max-width: 768px) {
  .header .text-box .heading-primary .heading-primary-main {
    font-size: 2.5rem;
  }
  .header .text-box .heading-primary .heading-primary-sub {
    font-size: 1.6rem;
  }
}
@media (max-width: 480px) {
  .header .text-box .heading-primary .heading-primary-main {
    font-size: 1.3rem;
  }
  .header .text-box .heading-primary .heading-primary-sub {
    font-size: 1rem;
  }
}

nav {
  background-color: rgb(51, 214, 119);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  margin-right: 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: #fcff34;
}
nav .checkbtn {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav #check {
  display: none;
}
@media (max-width: 768px) {
  nav .checkbtn {
    display: block;
    order: 1;
    margin-right: 20px;
  }
  nav ul {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgb(51, 214, 119);
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    transform: translateY(-100%);
    z-index: -1;
  }
  nav ul li {
    margin: 8px 0;
  }
  nav ul li a {
    font-size: 15px;
  }
  nav #check:checked ~ ul {
    right: 0;
  }
}

#cardcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
.card.card-0 {
  background-color: #ffeb3b;
}
.card.card-1 {
  background-color: rgb(51, 214, 119);
  color: #fff;
  flex-direction: row-reverse;
}
.card.card-2 {
  background-color: #028091;
  color: #fff;
}

.card-text {
  flex: 1;
  margin-right: 20px;
  padding-left: 20px;
}

.card-title {
  font-size: 2em;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.card-content {
  font-size: 1em;
  margin: 0;
}

.card-image {
  justify-content: flex-end;
}

.card-image img {
  max-width: 300px;
  height: 300px;
  display: block;
}

@keyframes slideBackground {
  0% {
    background-color: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}
/* style.css */
.bgcontainer {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #a0dbb2;
}
.bgcontainer .container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 400px;
  max-width: 100%;
  padding: 30px;
}
.bgcontainer .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bgcontainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.bgcontainer h1 {
  font-weight: bold;
  margin: 0;
  color: #333;
}
.bgcontainer .social-icons {
  margin: 20px 0;
}
.bgcontainer .social-icons a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
.bgcontainer .social-icons a:hover {
  background-color: #ddd;
}
.bgcontainer input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 5px;
}
.bgcontainer button {
  border-radius: 20px;
  border: 1px solid #487957;
  background: #385D43;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin-top: 20px;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 80ms ease-in;
}
.bgcontainer button:hover {
  background-color: #4d835d;
}
.bgcontainer span {
  font-size: 12px;
  color: #888;
  margin: 20px 0;
}
.bgcontainer a {
  color: #659c75;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  transition: color 0.3s;
}
.bgcontainer a:hover {
  color: #659c75;
}

.dropdown {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 5px;
}

.dropdown-content li a {
  color: black;
}

#female #male #non-binary {
  font-size: 12px;
  color: #888;
  margin: 20px 0;
}

.footer {
  background-color: #282c34;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.footer .footer-content {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  flex-wrap: wrap;
}
.footer .footer-content .footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}
.footer .footer-content h3 {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}
.footer .footer-content p {
  margin: 10px 0;
}
.footer .footer-content ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.footer .footer-content ul li {
  margin: 10px 0;
}
.footer .footer-content ul li a {
  color: #fff;
  text-decoration: none;
}
.footer .footer-content ul li a:hover {
  text-decoration: underline;
}
.footer .footer-content .social-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer .footer-content .social-icons a {
  color: #fff;
  font-size: 20px;
}
.footer .footer-content .social-icons a:hover {
  color: #61dafb;
}
.footer .footer-bottom {
  border-top: 1px solid #fff;
  padding: 10px 0;
  font-size: 12px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-content .footer-section {
    width: 100%;
    max-width: 400px;
  }
}
.contact-page .contact-header .hero-image {
  background-image: url(../img/treadmill.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-page .contact-header .hero-image .hero-overlay {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-page .contact-header .hero-image .hero-overlay .cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.contact-page .contact-main {
  padding: 3em 1em;
  background-color: #ffeb3b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactCard {
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 200px;
}
.contactCard h3 {
  margin: 0 0 10px 0;
}
.contactCard p {
  margin: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  padding: 3em;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #fff;
}
.contact-form .form-group {
  margin-bottom: 1em;
}
.contact-form .form-group label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}
.contact-form .form-group input,
.contact-form .form-group textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #fff;
  border-radius: 5px;
  border: 1px solid #86f35b;
  font-size: 1.1em;
}
.contact-form .form-group textarea {
  resize: vertical;
  min-height: 150px;
}
.contact-form button {
  padding: 1em 2em;
  color: #fff;
  background-color: #65d41f;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
}
.contact-form button.hover {
  background-color: #86f35b;
}

.dashboard-card {
  background-color: #ffee34;
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  color: #fff;
}
.dashboard-card .card-link {
  color: #74b2f5;
  text-decoration: none;
  font-weight: bold;
}
.dashboard-card .card-link:hover {
  text-decoration: underline;
}
.dashboard-card h3 {
  margin-bottom: 1em;
  font-size: 2em;
}
.dashboard-card p {
  margin: 0;
  font-size: 1em;
}
.dashboard-card:hover {
  transform: translateY(-5px);
}

.circular-graph-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 65%;
  height: auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: auto;
}

.coaching-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.coaching-card .coaching-card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.coaching-card .coaching-content {
  padding: 1em;
  text-align: center;
}
.coaching-card .coaching-content h2 {
  margin: 0;
  font-size: 1.5em;
}
.coaching-card .coaching-content p {
  margin: 1em 0;
  color: #555;
}
.coaching-card .fitness-link {
  color: #ff9d00;
  text-decoration: none;
  font-weight: bold;
}
.coaching-card .fitness-link:hover {
  text-decoration: underline;
}

.home-page {
  background-color: #028091;
}
.home-page .home-header {
  background-color: #20a0b1;
  color: #fff;
  padding: 2em;
  text-align: center;
}
.home-page .home-header h1 {
  margin: 0;
  font-size: 3em;
}
.home-page .home-main {
  padding: 2em;
  display: flex;
  gap: 2em;
}
.home-page .home-main .main-card {
  flex: 1;
  display: flex;
  justify-content: center;
}
.home-page .home-main .diet-cards {
  flex: 2;
  display: flex;
  gap: 1em;
}
.home-page .home-main .diet-cards .dashboard-card {
  width: 100%;
}
.home-page .additional-content {
  display: flex;
  align-items: center;
  padding: 2em;
  gap: 2em;
}
.home-page .additional-content .circular-graph-card {
  width: 600px;
  height: 300px;
}
.home-page .additional-content .dashBoy-img {
  width: 34rem;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}
.home-page .additional-content .coaching-info {
  width: 100%;
  max-width: 600px;
}
@media (max-width: 768px) {
  .home-page .home-header {
    flex-direction: column;
  }
  .home-page .diet-cards {
    flex-direction: column;
    gap: 1em;
  }
  .home-page .additional-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }
}
@media (max-width: 480px) {
  .home-page .home-header {
    padding: 1em;
  }
  .home-page .home-header h1 {
    font-size: 2em;
  }
  .home-page .home-main {
    padding: 1em;
  }
  .home-page .diet-cards .dashboard-card {
    min-width: 100%;
  }
  .home-page .additional-content .circular-graph-card {
    width: 250px;
    height: 250px;
  }
  .home-page .additional-content .coaching-info {
    max-width: 100%;
  }
}

.mealprep-page {
  background-color: #56ec38;
}
.mealprep-page .mealprep-header {
  background-color: #a2f950;
  padding: 20px;
  text-align: center;
  color: #fff;
}
.mealprep-page .mealprep-header h1 {
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: overline;
}
.mealprep-page .mealprep-header p {
  font-size: 1.2rem;
  text-decoration: underline;
}
.mealprep-page section {
  background: #fff;
  padding: 20px;
  margin: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.mealprep-page section h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #ece338;
}
.mealprep-page section .guide, .mealprep-page section .meal-plan, .mealprep-page section .recipe, .mealprep-page section .faq {
  margin-bottom: 20px;
}
.mealprep-page section .guide h3, .mealprep-page section .meal-plan h3, .mealprep-page section .recipe h3, .mealprep-page section .faq h3 {
  font-size: 1.5rem;
}
.mealprep-page section .guide p, .mealprep-page section .meal-plan p, .mealprep-page section .recipe p, .mealprep-page section .faq p {
  font-size: 1rem;
}
.mealprep-page .mealprep-tools {
  padding: 20px;
  background: #fff3e0;
  text-align: center;
}
.mealprep-page .mealprep-faqs {
  background: #333;
}
.mealprep-page .mealprep-faqs .faq {
  color: #fff;
}

.workout {
  background: #89c29a;
}
.workout .workouts-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.workout .selected-workouts {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.workout .selected-workouts .selected-workout-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #e9e9e9;
}

form {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input,
button {
  padding: 8px 16px;
  margin-right: 8px;
  margin-bottom: 10px;
}
input button,
button button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
input button:hover,
button button:hover {
  opacity: 0.9;
}

@media (max-width: 600px) {
  .workouts-container,
  .selected-workouts {
    padding: 20px;
  }
  .workout-item,
  .selected-workout-item {
    flex-direction: column;
    align-items: flex-start;
  }
  input,
  button {
    width: 100%;
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
